{% load static %} <!-- Load the static template tag -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room Planner and Layout Designer Management System</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> 
</head>
<body>

<nav>
    <ul>
        <li>
            <a href="{% url 'homepage' %}">Home</a>
        </li>
        <li>
            <a href="{% url 'design' %}">Design</a>
        </li>
         <li>
            <a href="{% url 'admin_home' %}">Add Images</a>
        </li>
        <li>
            <a href="{% url 'about' %}">About</a>
        </li>
        <li>
            <a href="{% url 'login' %}">Login</a>
        </li>
        <li>
            <a href="{% url 'feedback' %}">Feedback</a> 
        </li>
    </ul>
</nav>

</body>
</html>
