{% include 'header.html' %}
{% load static %} <!-- Load the static template tag -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room Planner and Layout Designer Management System</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Link to the CSS file from static -->
</head>
<body>
<center><b><h1>ROOM PLANNER AND DESIGNER LAYOUT MANAGEMENT SYSTEM</h1></b></center>
<center><img src="{% static "images/ROOM PLANNER.jpg" %}"  width="1300" height="800"></center>

</body>
</html>
